.navbar1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-between;

    
    
    
}

.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-right: 115px;
    
   
    
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    
    
}

a:hover{
    
    color: white;
    text-decoration: underline;

}

.what{
    color: white;
    font-size: 20px;
    padding-left: 34px;
    
    
   
    
}
body{
    margin: 0;
    
    
}


.banner{
    width: 100%;
    height: 480px;
background: 
url(fotos/qualidade.png),
linear-gradient(90deg,#8b0000, #6f0909);

background-position: right;
background-repeat: no-repeat;
background-size: contain;
display: flex;
flex-direction: column;
align-items: flex-start;

}

.banner h1 {
    font-size: 38px;
    margin: 0;
    color: white;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.banner p{
    font-size: 20px;
    margin: 0;
    color: white;
    padding-left: 70px;
    text-align: justify;
      
}


.button {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 19%;
    
    
    
}

.btn{
    border-radius: 4px;
    height: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
   
}
i{
    font-size: 19px;
}



.text-span{
    font-size: 19px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#miniPlayer{
    position: fixed;
    bottom: -220px;
    right: 20px;
    width: 340px;
    height: 190px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: bottom 0.5s ease;
}

#miniPlayer.show{
    bottom: 20px;
}

#miniPlayer iframe{
    width: 100%;
    height: 100%;

}

#miniPlayer button{
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255,255,255,0.15);
    border: none;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.parte{
    display: flex;
    flex-direction: column;
    
    padding-top: 45px;


}

.albuns{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}


.IamMusic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.imagem1{
     width: 130px;               /* tamanho da imagem */
    height: 120px;
    background-image: url(fotos/10cf93995de9215931f95e1a2f34c37c.webp);
    background-position: center;
    background-size: cover;      /* mantém proporção e cobre todo o container */
    background-repeat: no-repeat;
    border-radius: 8px; 
    margin-left: 70px;
    cursor: pointer;
}

.imagem2{
     width: 130px;               /* tamanho da imagem */
    height: 120px;
    background-image: url(fotos/ef217b8ec30f02e4afc94b693fc75a27.webp);
    background-position: center;
    background-size: cover;      /* mantém proporção e cobre todo o container */
    background-repeat: no-repeat;
    border-radius: 8px; 
    margin-left: 70px;
    cursor: pointer;
}




.Playboi-Carti{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Wholla-lotta-red{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



